<div class="footer container">
    <div class="row justify-content-center">
        <div class="col-auto p-0">
            <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=241fdnku" class="icon-line" target="_blank">
                <i class="fa-brands fa-line fa-2x"></i>
            </a>
        </div>
        <div class="col-auto p-0">
            <a href="https://discord.gg/QVqHx76dbb" class="icon-discord" target="_blank">
                <i class="fa-brands fa-discord fa-2x"></i>
            </a>
        </div>
        <div class="col-auto p-0">
            <a href="https://www.instagram.com/youbike_tw/" class="icon-instagram" target="_blank">
                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
        </div>
        <div class="col-auto p-0">
            <a href="https://www.youtube.com/@YouBike" class="icon-youtube" target="_blank">
                <i class="fa-brands fa-youtube fa-2x"></i>
            </a>
        </div>
    </div>
</div>
