<div class="custom-background2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 contact-info">
                <h2>聯繫我們</h2>
                <p>電話: 123-456-789</p>
                <p>Email: info@youbike.com</p>
            </div>
            <div class="col-md-6 social-software">
                <h2>社交媒體</h2>
                <a href="https://www.facebook.com/youbike" class="social-icon facebook"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="https://www.instagram.com/youbike_tw/" class="social-icon instagram"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="https://www.linkedin.com/company/youbike" class="social-icon line"><i class="fab fa-line fa-3x"></i></a>
                <a href="https://www.youtube.com/youbike" class="social-icon youtube"><i class="fab fa-youtube fa-3x"></i></a>
                <a href="https://discord.com/youbike" class="social-icon discord"><i class="fab fa-discord fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>