<div class="container">
    <div class="announcement-board">
        <h1>公告欄</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>地點</th>
                    <th>公告內容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024/06/11(二) 09:00-13:00</td>
                    <td>新北市 永和區</td>
                    <td>YouBike 2.0『中正路666巷口』 暫停營運</td>
                </tr>
                <tr>
                    <td>2024/06/06(五) 10:00</td>
                    <td>台北市</td>
                    <td>新增大安區1站 YouBike 2.0 正式營運公告</td>
                </tr>
                <tr>
                    <td>2024/06/05(五)及06/07(五)09:00 - 16:00，06/08(六)及06/09(日)08:00 - 20:00</td>
                    <td>新北市 中和區</td>
                    <td>YouBike 2.0『捷運中原站』、『板南路492號』、『板南立言街口』 暫停營運</td>
                </tr>
                <tr>
                    <td>2024/06/04(二) - 06/30(日)</td>
                    <td>新北市 新莊區</td>
                    <td>60 站 YouBike 1.0 場站升級營運公告</td>
                </tr>
                <tr>
                    <td>2024/06/04(二) 即刻起-06/08(六)00:00</td>
                    <td>新北市 新莊區</td>
                    <td>YouBike 2.0『龍安福營路口』 暫停營運</td>
                </tr>
                <tr>
                    <td>2024/06/04(二)</td>
                    <td>新北市 新莊區</td>
                    <td>溫馨提醒 - YouBike 2.0 『龍安福營路口』因現場施工，請注意騎乘安全</td>
                </tr>
                <tr>
                    <td>2024/06/04 (二) 10:00</td>
                    <td>台北市</td>
                    <td>新增大安區1站 YouBike 2.0 正式營運公告</td>
                </tr>
                <tr>
                    <td>2024/06/01(六) 08:00 - 06/02(日) 23:00</td>
                    <td>新北市 三重區</td>
                    <td>YouBike 1.0及YouBike 2.0『先嗇宮』暫停營運</td>
                </tr>
                <tr>
                    <td>2024/06/03 (一) 09:00 - 17:00</td>
                    <td>台北市 大安區</td>
                    <td>YouBike 2.0『臨江公園』暫停營運</td>
                </tr>
                <tr>
                    <td>2024/06/01(六) 08:00-20:00</td>
                    <td>新北市 三重區</td>
                    <td>YouBike 2.0『三重區停八停車場』 暫停營運</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>