<div class="custom-background">
    <div class="container info-section">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/yb4.jpg' %}" alt="長條形圖片">
            </div>
            <div class="col-md-6 youbiketext">
                <h2>騎YOUBIKE的好處</h2>
                <h4 class="mt-5">1.環保節能:</h4>
                <p class="ms-4">騎自行車不排放廢氣，有助於減少空氣污染和碳排放，是一種環保的出行方式。</p>
                <h4 class="mt-5">2.健康運動：</h4>
                <p class="ms-4">騎自行車是一種良好的有氧運動，有助於增強心肺功能、改善體質，並且可以消耗卡路里，幫助維持健康體重。</p><br>
                <h4 class="mt-3">3.節省交通費用：</h4>
                <p class="ms-4">相較於開車或乘坐公共交通，騎 YouBike 更加經濟實惠，不需支付油費、停車費或車票費用。</p>
                <h4 class="mt-5">4.提升生活品質：</h4>
                <p class="ms-4">騎自行車能讓人更接近自然，放鬆心情，有助於減少壓力，提升整體生活品質。</p>
            </div>
        </div>
    </div>
</div>