<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">登入</h5>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    {% csrf_token %}
                    <li class="pt-40">
                        <span class="form-group">
                            <input type="email" class="form-control" placeholder="請輸入帳號">
                        </span>
                    </li>
                    <span class="form-group">
                        <input type="password" class="form-control" placeholder="請輸入密碼">
                    </span>
                    <button type="submit" class="btn btn-primary mt-4">登入</button>
                </form>
            </div>
        </div>
    </div>
</div>